body {
  background-color: #bbb;
  width: 100%; /* Mude de 100vw para 100% */
  height: 100vh;
}


/* Responsivo para melhorar compatibilidade */
@media (max-width: 768px) {
    html, body {
        font-size: 14px;
    }
}