.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: auto;
  padding: 20px 16px 30px;
  background-color: #111;
  z-index: 0;
  border-bottom: 0.1rem solid #807f7f6a;

  & h1 {
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid orange;
    margin-bottom: 20px;
    font-weight: semibold;
  }

  .contatoVideos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: min(100%, 1100px);
  }

  .contatoVideo {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    iframe {
      width: 100%;
      height: 100%;
      display: block;
      border: none;
      border-radius: 10px;
    }
  }

  .contatoInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    width: min(100%, 720px);
    text-align: center;

    .contatoLogo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      text-decoration: none;

      .contatoLogoImg {
        width: 120px;
        height: 120px;
        background-image: url("/image/logo.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      p {
        font-size: 0.8rem;
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      }
    }

    .contatoSocial {
      display: flex;
      gap: 20px;

      a {
        color: #fff;
        font-size: 2.5rem;
        transition: color 0.3s ease;

        &:hover {
          color: orange;
        }
      }
    }
  }
}

.contatoButton {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: orange;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  border-radius: 25px;
  transition: all 0.3s ease;
  animation: pulse 2s infinite;

  &:hover {
    box-shadow: 2px 4px 10px rgba(255, 132, 0, 0.4);
    animation: none;
    transform: scale(1.1);
    transition: all 0.3s ease;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@media (min-width: 768px) {
  .contato {
    justify-content: flex-start;
  }

  .contatoVideos {
    flex-direction: row !important; ;
  }

  .contatoVideo {
    flex: 1;
  }

  .contatoInfo {
    margin-top: 0;
    width: min(100%, 900px);
  }
}
