*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, serif;
}

body {
  min-height: 100dvh;
  width: 100%;
  overflow-x: hidden;
  background-color: #f5f5f5;
  font-size: 16px;
}
/* Responsivo - Tablet */
@media (max-width: 1024px) {
  body {
    font-size: 15px;
  }
}

/* Responsivo - Mobile */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* Responsivo - Mobile Pequeno */
@media (max-width: 480px) {
  body {
    font-size: 15px;
  }
}